<!DOCTYPE html>
<html lang="zh-cn" dir="auto">

<head><meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<title>Posts | GoPY Fun</title>
<meta name="keywords" content="">
<meta name="description" content="Posts - GoPY Fun">
<meta name="author" content="">
<link rel="canonical" href="https://gopy.fun/posts.html">
<link crossorigin="anonymous" href="/assets/css/stylesheet.bc1149f4a72aa4858d3a9f71462f75e5884ffe8073ea9d6d5761d5663d651e20.css" integrity="sha256-vBFJ9KcqpIWNOp9xRi915YhP/oBz6p1tV2HVZj1lHiA=" rel="preload stylesheet" as="style">
<link rel="icon" href="https://gopy.fun/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="https://gopy.fun/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://gopy.fun/favicon-32x32.png">
<link rel="apple-touch-icon" href="https://gopy.fun/apple-touch-icon.png">
<link rel="mask-icon" href="https://gopy.fun/safari-pinned-tab.svg">
<meta name="theme-color" content="#2e2e33">
<meta name="msapplication-TileColor" content="#2e2e33">
<link rel="alternate" type="application/rss+xml" href="https://gopy.fun/posts/index.xml">
<noscript>
    <style>
        #theme-toggle,
        .top-link {
            display: none;
        }

    </style>
    <style>
        @media (prefers-color-scheme: dark) {
            :root {
                --theme: rgb(29, 30, 32);
                --entry: rgb(46, 46, 51);
                --primary: rgb(218, 218, 219);
                --secondary: rgb(155, 156, 157);
                --tertiary: rgb(65, 66, 68);
                --content: rgb(196, 196, 197);
                --hljs-bg: rgb(46, 46, 51);
                --code-bg: rgb(55, 56, 62);
                --border: rgb(51, 51, 51);
            }

            .list {
                background: var(--theme);
            }

            .list:not(.dark)::-webkit-scrollbar-track {
                background: 0 0;
            }

            .list:not(.dark)::-webkit-scrollbar-thumb {
                border-color: var(--theme);
            }
        }

    </style>
</noscript>
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-24073861-3', 'auto');
	
	ga('send', 'pageview');
}
</script><meta property="og:title" content="Posts" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://gopy.fun/posts.html" />

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Posts"/>
<meta name="twitter:description" content=""/>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position":  1 ,
      "name": "Posts",
      "item": "https://gopy.fun/posts.html"
    }
  ]
}
</script>
</head>

<body class="list" id="top">
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>

<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href="https://gopy.fun/" accesskey="h" title="GoPY Fun (Alt + H)">GoPY Fun</a>
            <div class="logo-switches">
                <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                </button>
            </div>
        </div>
        <ul id="menu">
        </ul>
    </nav>
</header>
<main class="main"> 
<header class="page-header">
  <h1>
    Posts
  </h1>
</header>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>Python爬虫笔记<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>一、爬虫概述 什么是爬虫？ 不知道各位是否遇到过这样的需求.就是我们总是希望能够保存互联网上的一些重要的数据信息为己所用。比如，
在浏览到一些优秀的让人血脉喷张的图片时．总想保存起来留为日后做桌面上的壁纸 在浏览到一些重要的数据时(各行各业)，希望保留下来日后为自己进行各种销售行为增光添彩 在浏览到一些奇奇怪怪的劲爆视频时，希望保存在硬盘里供日后慢慢品鉴 在浏览到一些十分优秀的歌声曲目时，希望保存下来供我们在烦闷的生活中增添一份精彩 那么恭喜你.本课程将十分的适合于你．因为爬虫就是通过编写程序来爬取互联网上的优秀资源(图片，音频，视频，数据）
爬虫和Python 爬虫一定要用Python么？非也～用Java也行，C也可以.请各位记住，编程语言只是工具.抓到数据是你的目的.用什么工具去达到你的目的都是可以的。和吃饭一样，可以用叉子也可以用筷子，最终的结果都是你能吃到饭.那为什么大多数人喜欢用Python呢？答案：因为Python写爬虫简单．不理解？问：为什么吃米饭不用刀叉？用筷子？因为简单！好用！
而Python是众多编程语言中，小白上手最快，语法最简单．更重要的是，这货有非常多的关于爬虫能用到的第三方支持库.说直白点儿.就是你用筷子吃饭，我还附送你一个佣人．帮你吃！这样吃的是不是更爽了．更容易了~
爬虫合法么？ 首先，爬虫在法律上是不被禁止的．也就是说法律是允许爬虫存在的.但是，爬虫也具有违法风险的.就像菜刀一样，法律是允许菜刀的存在的.但是你要是用来砍人，那对不起.没人惯着你.就像王欣说过的，技术是无罪的.主要看你用它来干嘛.比方说有些人就利用爬虫&#43;一些黑客技术每秒钟对着bilibill撸上十万八千次.那这个肯定是不被允许的.
爬虫分为善意的爬虫和恶意的爬虫
善意的爬虫，不破坏被爬取的网站的资源（正常访问，一般频率不高，不窃取用户隐私） 恶意的爬虫，影响网站的正常运营(抢票，秒杀，疯狂solo网站资源造成网站宕机） 综上，为了避免进， 我们还是要安分守己.时常优化自己的爬虫程序避免干扰到网站的正常运行.并且在使用爬取到的数据时,发现涉及到用户隐私和商业机密等敏感内容时，一定要及时终止爬取和传播
爬虫的矛与盾 反爬机制 门户网站，可以通过制定相应的策略或者技术手段，防止爬虫程序进行网站数据的爬取。
反反爬策略 爬虫程序可以通过制定相关的策略或者技术手段，破解门户网站中具备的反爬机制，从而可以获取门户网站中相关的数据。
robots.txt协议： 君子协议。规定了网站中哪些数据可以被爬虫爬取哪些数据不可以被爬取。
二、爬虫入门 2.1 第一个爬虫 from urllib.request import urlopen url = &#39;http://www.baidu.com&#39; resp = urlopen(url) print(resp.read().decode(&#34;utf-8&#34;)) 2.2 request模块入门 安装
pip3 install requests pip3 install -i 第三方镜像地址 requests import requests url = &#34;https://fanyi.baidu.com/sug&#34; hehe = { &#34;kw&#34;：input(&#34;请输入一个单词&#34;) } resp = requests.post(url, data=hehe) print(resp. text)# 拿到的是文本字符串 print(resp.json()）#此时拿到的直接是json数据 hehe = {&#39;type&#39;=13, &#39;start&#39;=&#39;0&#39;} headers = {&#39;User-Agent&#39;: &#34;xxxx&#34;} resp = requests....</p>
  </div>
  <footer class="entry-footer"><span title='2022-10-22 10:56:43 +0800 CST'>October 22, 2022</span></footer>
  <a class="entry-link" aria-label="post link to Python爬虫笔记" href="https://gopy.fun/posts/note/python-spider.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>JavaScript笔记（二）: ES6入门<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>二、 ES6 2.1 let, var, const定义变量 var： 定义变量如果是在函数内部的是局部，外面就是全局的 let： 定义的变量是局部使用的，无法替换跨域 const： 常量定义，无法被改变，但可以单独改变内部变量，比如字符串修改 s[2] = ‘a’; const 声明并不会真的保护数据不被改变。 为了确保数据不被改变，JavaScript 提供了一个函数 Object.freeze(变量)。 2.2 匿名函数 我们通常会使用以下语法：
const myFunc = function() { const myVar = &#34;value&#34;; return myVar; } ES6 提供了其他写匿名函数的方式的语法糖。 你可以使用箭头函数：
const myFunc = () =&gt; { const myVar = &#34;value&#34;; return myVar; } 当不需要函数体，只返回一个值的时候，箭头函数允许你省略 return 关键字和外面的大括号。 这样就可以将一个简单的函数简化成一个单行语句。
const myFunc = () =&gt; &#34;value&#34;; 这段代码默认会返回字符串 value。
同时可以通过括号里面的变量进行传参：
const mul = (a, b=2) =&gt; a*b; console....</p>
  </div>
  <footer class="entry-footer"><span title='2022-09-11 17:00:43 +0800 CST'>September 11, 2022</span></footer>
  <a class="entry-link" aria-label="post link to JavaScript笔记（二）: ES6入门" href="https://gopy.fun/posts/note/js-note-2-es6.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>MongoDB Note<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>install mongodb install for mac brew install mongodb-community brew services start mongodb/brew/mongodb-community init mongodb set auth for mongodb You can login mongodb direct without password when your mongodb version grate or enquit v4.2, BTW, if you want to active authorization, may try this conf:
cat &gt;&gt; /usr/local/etc/mongod.conf &lt;&lt;&#34;EOF&#34; #配置文件开启强制验证 security: authorization: &#34;enabled&#34; EOF mongo &gt; show dbs &gt; use admin &gt; db.createUser({ user: &#39;admin&#39;, // 用户名 pwd: &#39;123456&#39;, // 密码 roles:[{ role: &#39;root&#39;, // 角色 db: &#39;admin&#39; // 数据库 }] }) &gt; exit brew services restart mongodb/brew/mongodb-community mongo admin -u admin -p 123456 基础应用 </p>
  </div>
  <footer class="entry-footer"><span title='2022-05-24 22:56:43 +0800 CST'>May 24, 2022</span></footer>
  <a class="entry-link" aria-label="post link to MongoDB Note" href="https://gopy.fun/posts/note/mongodb-note.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>Python Flask Note<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>一、flask基础教程 jinja2 模板 数据处理
{% if %}标签 {% if age &lt; 18 %} &lt;p&gt;还未成年,不能进网吧上网&lt;/p&gt; {% elif age == 18 %} &lt;p&gt;刚刚成年，先去庆祝一下吧，再去上网&lt;/p&gt; {% else %} &lt;p&gt;已经成年了，可以去网吧上网了&lt;/p&gt; {% endif %} {% for %}标签
&lt;ul&gt; {% for user in users %} &lt;li&gt;{{ user }}&lt;/li&gt; &lt;!-- 如果没有值，空的列表之类的，就会执行else语句 --&gt; {% else %} &lt;li&gt;没有任何值&lt;/li&gt; {% endfor %} &lt;/ul&gt; &lt;!-- 遍历字典: ---&gt; {% for key,value in person.items() %} &lt;!--{% for key in person.keys() %} 遍历字典的key --&gt; &lt;!--{% for value in person....</p>
  </div>
  <footer class="entry-footer"><span title='2022-05-24 18:00:43 +0800 CST'>May 24, 2022</span></footer>
  <a class="entry-link" aria-label="post link to Python Flask Note" href="https://gopy.fun/posts/note/python-flask-note.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>Python note<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>Index. 内容 基本部分笔记记录在这里其他内容参考：
Python Flask Note 开始、python开发环境配置以及IDE配置 在开始写python项目钱，我们必须先安装python的环境、虚拟环境以及IDE。IDE的配置后面有专门的笔记记录下，这部分内容也可以单独开设一个专题。
python的安装 python的IDE配置 python的环境变量配置 虚拟环境 python3 -m venv venv source ./venv/bin/activate deactivate pip 安装和 源设置 一、基础部分 学习世界： 2022-10-21 1.1 变量 Python变量的命名规范：
必须是数字或字母或下换线组成. 不能是数字开头，更不能是纯数字 不能用python的关键字 不要用中文 不要太长 1.2 常量 变量的形式：
print(123) 字母大写的变量 可以 认为是常量。 python里没有绝对意义的常量，都可以被覆盖 1.3 数据类型 数字 文字 布尔： True 、 False 1.4 控制语句 判断语句 语句结构：
if 1: pass elif 2: pass else: pass 循环语句 语句结构：
while True: pass i = 1 while i &lt;= 100: print(1) i = i &#43; 1 break:让当前这个循环立即停止，用在while语句中 Q: for 循环中可以用吗？...</p>
  </div>
  <footer class="entry-footer"><span title='2022-05-24 17:56:43 +0800 CST'>May 24, 2022</span></footer>
  <a class="entry-link" aria-label="post link to Python note" href="https://gopy.fun/posts/note/python-note.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>JavaScript笔记（一）: 基础js知识<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>前言 常用技术栈
标准：ES5、 ES6、 H5、 CSS3 编译工具：Gulp、 Grunt、 Webpack 基础库 ： jQuery 。。。 模块化：Common JS、 CMD、 AMD、 UMD、 ES6 Module 框架 ： Vue、 React、 Angular UI框架：Bootstrap、 ElementUl、 Vux、 AntDesign (mobile) 、ionic WebSocket：SockJS 数据可视化 Echarts、 Bmap 动画 - Animate. css 流程控制 - Redux (thunk、 saga、observab le)、 Vuex 函数式编程 - underscore、 lodash、 immutable、rxjs CSS预处理器 sass、 less 移动开发 一react native、 ionic、 Weex 中间语言 typescr ipt 服务端开发 Nodejs、 Express、 KOA、 SockJS 一、JS 基础 1.1 变量 JavaScript 提供八种不同的数据类型，它们是：...</p>
  </div>
  <footer class="entry-footer"><span title='2022-05-20 00:56:43 +0800 CST'>May 20, 2022</span></footer>
  <a class="entry-link" aria-label="post link to JavaScript笔记（一）: 基础js知识" href="https://gopy.fun/posts/note/js-note-1-basic.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>HTML重学 &amp; HTML5笔记<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>HTML标签 HTML声明类型 &lt;!DOCTYPE html&gt; &lt;html&gt; &lt;/html&gt; 行内标签 &lt;a&gt;&lt;/a&gt;: a (Anchor) href属性: 指向跳转的目的地 target属性：_blank 表示在新窗口打开 段落标签 &lt;ul&gt;&lt;/ul&gt;:
&lt;ol&gt;&lt;/ol&gt;:
input : &lt;input type=&#34;text&#34;&gt;
css基础 HTML 元素都是以矩形为基础, 每个 HTML 元素所占有的矩形空间由这三个重要的属性来控制： - 内边距 padding、 - 外边距 margin 、 - 边框 border。
css中的绝对单位与相对单位 像素是一个长度单位，它告诉浏览器应该如何调整元素的大小和位置。 其实除了 px，CSS 也有其他单位供我们使用。
单位长度的类型可以分成 2 种：相对和绝对。 绝对单位与长度的物理单位相关。 例如，in 和 mm 分别代表着英寸和毫米。 绝对长度单位会接近屏幕上的实际测量值，不过不同屏幕的分辨率会存在差异，这就可能会造成误差。
相对单位长度，比如 em 和 rem，它们的实际值会依赖其他长度的值而决定。 比如 em 的大小基于元素字体的字体大小。 如果使用它来设置 font-size 值，它的值会跟随父元素的 font-size 值来改变。
Note: 有些单位长度选项是相对视窗大小来改变值的， 这种设定符合响应式网页设计的原则。
css优先等级 内联样式 &gt; id &gt; class...</p>
  </div>
  <footer class="entry-footer"><span title='2022-05-17 14:56:43 +0800 CST'>May 17, 2022</span></footer>
  <a class="entry-link" aria-label="post link to HTML重学 &amp; HTML5笔记" href="https://gopy.fun/posts/note/html5-note.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>Adobe<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>Adobe软件下载备份
软件下载 vposy破解（mac一般安装2021 sp版），默认解压密码 @vposy,
说明： 大师版：全家桶安装包，压缩包里含有所有Adobe软件，需要全部下载后方可解压安装； SP版：单个软件安装包，按需下载，无需下载所有软件。 vposy破解Adobe全系更新（密码：3jek） 网友备份1（密码：7wx1） PR2022破解版本下载
PR2022 v22 didixk破解（密码：oj96） </p>
  </div>
  <footer class="entry-footer"><span title='2022-05-16 17:59:25 +0800 CST'>May 16, 2022</span></footer>
  <a class="entry-link" aria-label="post link to Adobe" href="https://gopy.fun/posts/soft/adobe.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>苹果开发环境部署<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>mac开发环境说明 这个是我个人喜欢部署的mac软件的环境，记录备用
一、基础环境 1.1 Homebrew安装 /bin/bash -c &#34;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)&#34; # 如果安装失败或请求失败，需要绕过ssl验证 /bin/bash -c &#34;$(curl -fsSL --insecure https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)&#34; # 以上方法还无法下载，就先把install.sh 这个文件直接下载到本地，然后执行安装 bash install.sh # 使用国内源(不建议) /bin/zsh -c &#34;$(curl -fsSL https://gitee.com/cunkai/HomebrewCN/raw/master/Homebrew.sh)&#34; homebrew安装后，可以使用以下命令进行管理
brew version brew install {name} brew install --cask {name} brew list brew search brew 1.2 zsh安装配置 二、系统核心命令操作 2.1 开启允许所有软件安装 OSX移除下载镜像的quarantine属性 苹果系统有一个GateKeeper保护机制（自 OSX 10.5 加入）。从互联网上下载来的文件，会被自动打上com.apple.quarantine标志，翻译过来就是免疫隔离，系统根据这个附加属性对这个文件作出限制。 在安装软件的时候需要移除quarantine属性，步骤如下：
# 开启任何来源代码 sudo spctl --master-disable # 移除quarantine属性代码 sudo xattr -r -d com.apple.quarantine xxx.dmg # 安装Command Line Tools 工具 xcode-select --install # 对应用签名 sudo codesign --force --deep --sign - {应用路径} 如遇如下错误：...</p>
  </div>
  <footer class="entry-footer"><span title='2022-05-16 17:33:03 +0800 CST'>May 16, 2022</span></footer>
  <a class="entry-link" aria-label="post link to 苹果开发环境部署" href="https://gopy.fun/posts/mac/mac-dev-env.html"></a>
</article>

<article class="post-entry"> 
  <header class="entry-header">
    <h2>GopyFun创世文<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>
    </h2>
  </header>
  <div class="entry-content">
    <p>Good for btc</p>
  </div>
  <footer class="entry-footer"><span title='2022-05-15 01:45:43 +0800 CST'>May 15, 2022</span></footer>
  <a class="entry-link" aria-label="post link to GopyFun创世文" href="https://gopy.fun/posts/hello.html"></a>
</article>
    </main>
    
<footer class="footer">
    <span>&copy; 2022 <a href="https://gopy.fun/">GoPY Fun</a></span>
    <span>
        Powered by
        <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a> &
        <a href="https://github.com/adityatelange/hugo-PaperMod/" rel="noopener" target="_blank">PaperMod</a>
    </span>
</footer>
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>

<script>
    let menu = document.getElementById('menu')
    if (menu) {
        menu.scrollLeft = localStorage.getItem("menu-scroll-position");
        menu.onscroll = function () {
            localStorage.setItem("menu-scroll-position", menu.scrollLeft);
        }
    }

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.getAttribute("href").substr(1);
            if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView({
                    behavior: "smooth"
                });
            } else {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView();
            }
            if (id === "top") {
                history.replaceState(null, null, " ");
            } else {
                history.pushState(null, null, `#${id}`);
            }
        });
    });

</script>
<script>
    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };

</script>
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })

</script>
</body>

</html>
